# Base blog settings
baseurl                      : "" # the subpath of your site, 
                                  # e.g. /blog/
                                  # set to '' in case of hosting on GitHub
url                          : "" # the base hostname & protocol for your site
                                  # `http://<username>.github.io` - for GitHub

blog:
  title                       : rlcj
  description                 : >
                               A personal blog

  ## !!
  ## Untested blog settings
  ## You should not change anything here unless you know what you are doing
  ## These settings were copied over from dactl without fully testing the effects of changing them
  hero_layout                : true # turn on hero layout for blog and posts
  hero_placeholder           : "assets/images/generic_hero.jpg" # placeholder for hero image
  excerpts                   : true # show excerpts instead of full post content on blog page
  inline_footnotes           : true # enable/disable barefoot inline footnotes
  titles_only                : false # show post titles only on main blog page

  # Fonts
  font                       : '"Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif'
  load_google_fonts          : 'Rubik:400,400italic,700,700italic'

  # Layout configuration
  logo_path                  : "assets/images/logo.svg" # path to logo file
  search_path                : # "yourgitusername.github.io"
                               # needed for searchbox in archive page

# Author info
author:
  fullname                  : Richard Loong
  rss                       : true # generate RSS feed and show it's icon in header
  mail                      : richard@rlcj.net # change to your e-mail address
  twitter                   : 
  bluesky                   : 'shizuka-shinano.bsky.social'
  github                    : SpawnageLoong
  youtube                   : '@ShizukaShinano'
  linkedin                  : richardloongcj
  photo                     : /assets/images/me.jpg

## !!
## Advanced blog settings
## You should not change anything here unless you know what you are doing

# Gems
#plugins:
gems:
  - jekyll-paginate-v2

# Permalinks
permalink                    : /posts/:slug

# Collections
# collections:


# Handling Reading
exclude                    : ["README.md", "README.html"]

# Sass settings
sass:
  sass_dir                : _sass

############################################################
# Site configuration for the Jekyll 3 Pagination Gem
pagination:
  # Site-wide kill switch, disabled here it doesn't run at all 
  enabled: true
  # Set to 'true' to enable pagination debugging. This can be enabled in the site config or only for individual pagination pages
  debug: false
  # The default document collection to paginate if nothing is specified ('posts' is default)
  collection: 'posts'
  # How many objects per paginated page, used to be `paginate` (default: 0, means all)
  per_page: 5
  # The permalink structure for the paginated pages (this can be any level deep)
  permalink: '/:num/' # Pages are index.html inside this folder (default)
  #permalink: '/page/:num.html' # Pages are simple html files 
  #permalink: '/page/:num' # Pages are html files, linked jekyll extensionless permalink style.
  # Optional the title format for the paginated pages (supports :title for original page title, :num for pagination page number, :max for total number of pages)
  title: 'Page :num | :title'
  # Limit how many pagenated pages to create (default: 0, means all)
  limit: 0
  # Optional, defines the field that the posts should be sorted on (omit to default to 'date')
  sort_field: 'date'
  # Optional, sorts the posts in reverse order (omit to default decending or sort_reverse: true)
  sort_reverse: true
  # Optional, the default category to use, omit or just leave this as 'posts' to get a backwards-compatible behavior (all posts)
  category: 'posts'
  # Optional, the default tag to use, omit to disable
  tag: ''
  # Optional, the default locale to use, omit to disable (depends on a field 'locale' to be specified in the posts, 
  # in reality this can be any value, suggested are the Microsoft locale-codes (e.g. en_US, en_GB) or simply the ISO-639 language code )
  locale: '' 
 # Optional,omit or set both before and after to zero to disable. 
 # Controls how the pagination trail for the paginated pages look like. 
  trail: 
    before: 2
    after: 2
  # Optional, the default file extension for generated pages (e.g html, json, xml).
  # Internally this is set to html by default
  extension: html
  # Optional, the default name of the index file for generated pages (e.g. 'index.html')
  # Without file extension
  indexpage: 'index'

############################################################
# Site configuration for the Auto-Pages feature
autopages:
  # Site-wide kill switch, disable here and it doesn't run at all 
  enabled: true
  # Category pages, omit entire config element to disable
  categories: 
    enabled: false
  # Collection pages, omit to disable
  collections:
    enabled: false
  # Tag pages, omit to disable
  tags:
    enabled: true
    layouts: 
      - 'autopage_tags.html'
    title: 'Posts tagged with :tag' # :tag is replaced by the tag name
    permalink: '/tag/:tag'
    silent: false
    slugify:
      mode: 'default'   # :tag is slugified.
      case: false