<meta charset="utf-8">

<!-- Styles -->
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="shortcut icon" type="image/png" href="/favicon.png">
{% if site.blog.load_google_fonts %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ site.blog.load_google_fonts }}">
<style>
    html {
      font-family: {{ site.blog.font }};
    }
</style>
{% endif %}

<!-- Scripts -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>