<header>
  <div class="menu">
    <div class="logo">
      <a href="{{ '/' | prepend: site.baseurl }}">{{ site.blog.title }}</a>
      <span class="logo-css"></span>
    </div>

      <ul>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
          <li><a href="{{ '/archive' | prepend: site.baseurl }}">archive</a></li>
      </ul>
  </div>
  <div class="social">
    <ul>
      {% if site.author.youtube %}
      <li>
          <a href="https://youtube.com/{{ site.author.youtube }}" target="_blank" class="smaller">
            <span class="line-md--youtube"></span>
          </a>
      </li>
      {% endif %}
      {% if site.author.linkedin %}
      <li>
          <a href="https://linkedin.com/{{ site.author.linkedin }}" target="_blank" class="smaller">
            <span class="line-md--linkedin"></span>
          </a>
      </li>
      {% endif %}
      {% if site.author.twitter %}
      <li>
          <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="smaller">
            <span class="line-md--twitter-x-alt"></span>
          </a>
      </li>
      {% endif %}
      {% if site.author.bluesky %}
      <li>
          <a href="https://bsky.app/profile/{{ site.author.bluesky }}" target="_blank" class="smaller">
            <span class="simple-icons--bluesky"></span>
          </a>
      </li>
      {% endif %}
      {% if site.author.github %}
      <li>
          <a href="https://github.com/{{ site.author.github }}" target="_blank" class="smaller">
            <span class="line-md--github-loop"></span>
          </a>
      </li>
      {% endif %}
      {% if site.author.mail %}
      <li>
          <a href="mailto:{{ site.author.mail }}" target="_blank">
            <span class="line-md--email"></span>
          </a>
      </li>
      {% endif %}
      {% if site.author.rss == true %}
      <li>
          <a href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank">
              <span class="line-md--rss"></span>
          </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>