---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
    {% feed_meta %}
    {% seo %}

    {% if site.blog.load_google_fonts %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ site.blog.load_google_fonts }}">
      <style>
        html {
          font-family: {{ site.blog.font }};
        }
      </style>
{% endif %}

  </head>

  <body class="wrapper">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
  {% include js_scripts.html %}
</html>